.modal{
    position: fixed;
    top: 15%;
    z-index: 100;
}
.modal button {
    float: right;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 50%;
}